output
antigos
anotations.md
themes
templates
*.pyc
*.pyo
*.log
.env
.venv
__pycache__/
.idea
dev.env


# Diretórios como build e dist
build/
dist/
*.egg-info/
MANIFEST.in
setup.py
poetry.lock
poetry.toml
examples.py